<section id="newsletter">
  <div class="container" data-aos="zoom-in">
    <div class="section-header">
      <h2>Newsletter</h2>
      <p>Rejoignez notre liste d'abonnés pour recevoir les dernières nouvelles,<br> mises à jour et offres spéciales directement dans votre boîte de réception.</p>
    </div>

    <form [formGroup]="newsletterForm" (ngSubmit)="onSubmit()" class="text-center">
      <div class="d-flex flex-column align-items-center">
        <div class="mb-3">
          <input pInputText type="text" formControlName="email" placeholder="Entrer votre Email" required>
        </div>
        <div class="mb-3 newsletter-recaptcha">
          <re-captcha [siteKey]="recaptchaSiteKey" class=""></re-captcha>
        </div>
        <div>
          <button pButton type="submit" label="S'abonner" class="ms-2"></button>
        </div>
      </div>
    </form>

  </div>
</section>
