<section id="subscribe">
  <div class="container" data-aos="zoom-in">
    <div class="section-header">
      <h2>Newsletter</h2>
      <p>Rejoignez notre liste d'abonnés pour recevoir les dernières nouvelles,<br> mises à jour et offres spéciales directement dans votre boîte de réception.</p>
    </div>

    <form method="POST" action="#">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-10 d-flex">
          <input type="text" class="form-control" placeholder="Entrer votre Email">
          <button type="submit" class="ms-2">S'abonner</button>
        </div>
      </div>
    </form>

  </div>
</section><!-- End Subscribe Section -->
