<main id="main">
  <router-outlet></router-outlet>
  <app-home></app-home>
  <app-presentation id="presentation"></app-presentation>
  <app-members id="bureau-executif"></app-members>
  <!-- <app-actuality id="actualities"></app-actuality> -->
  <app-events id="events"></app-events>
  <app-formation id="formations"></app-formation>
  <!-- <app-opportunities id="opportunities"></app-opportunities>
  <app-medias id="medias"></app-medias> -->
  <!-- <app-membership id="membership"></app-membership> -->
  <app-partners id="partners"></app-partners>
  <app-newsletter></app-newsletter>
  <app-contact id="contact"></app-contact>
</main>
