<main id="main">
  <router-outlet></router-outlet>
  <app-home id="home"></app-home>
  <p-scrollTop></p-scrollTop>
  <app-presentation id="objectifs"></app-presentation>
  <app-actuality id="actualities"></app-actuality> -->
  <app-events id="events"></app-events>
  <app-formation id="formations"></app-formation>
  <app-opportunities id="opportunities"></app-opportunities>
  <app-members id="bureau-executif"></app-members>
  <app-clubs id="clubs"></app-clubs>
  <!-- <app-medias id="medias"></app-medias> -->
  <app-partners id="partners"> </app-partners>
  <app-newsletter></app-newsletter>
  <app-contact id="contact"></app-contact>
</main>
