 <section id="partners" class="section-with-bg">

  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h3>Partenaires</h3>
    </div>

    <div class="row no-gutters partners-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">

      <div class="col-lg-2 col-md-4 col-xs-6" *ngFor="let partner of partners">
        <div class="partner-logo">
          <img [src]="'/api/arsii/admin/formation/img/'+partner.image" class="img-fluid" alt="{{ partner.name }}">
        </div>
      </div>

      <!-- <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="partner-logo">
          <img src="assets/img/partners/uso.png" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="partner-logo">
          <img src="assets/img/partners/ensi.png" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="partner-logo">
          <img src="assets/img/partners/anpr.png" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="partner-logo">
          <img src="assets/img/partners/xypnos.png" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="partner-logo">
          <img src="assets/img/partners/h2020.jpg" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="partner-logo">
          <img src="assets/img/partners/ieee-tunisia-section.jpg" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="partner-logo">
          <img src="assets/img/partners/issat.png" class="img-fluid" alt="">
        </div>
      </div> -->

    </div>

  </div>

</section>
