  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0"><span>Bienvenue</span> Dans notre site</h1>
      <!-- <h1 class="mb-4 pb-0">The Annual<br><span>Marketing</span> Conference</h1> -->
      <p class="mb-4 pb-0">ARSII est une association scientifique et apolitique,<br>
        fondée en Mai 2016 par des jeunes enseignants<br> chercheurs en Informatique.</p>
      <a href="assets/img/MainVideo_site.ogv" class="glightbox play-btn mb-4"></a>
      <!-- <a routerLink="/join-us" class="about-btn scrollto">Rejoignez-Nous</a> -->
    </div>
  </section><!-- End Hero Section -->


