<section id="event-details" class="event-details" *ngIf="event">
  <div class="container">
    <div class="row gy-4">
      <div class="col">
        <div class="event-details-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide">
              <img
                [src]="'/api/arsii/file/img/' + event.image"
                alt="{{ event.title }}"
              />
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
    <div class="row gy-4">
      <div class="col">
        <div class="event-info d-flex justify-content-between">
          <!-- <h3>{{ event.title }}</h3> -->
          <ul>
            <li>
              <strong>Date</strong>:
              {{ event.date | date : "dd LLLL yyyy, HH:mm" }}
            </li>
            <li>
              <strong>Localisation: {{ event.location }}</strong>
            </li>
            <!-- <li><strong>Partenaire</strong>: {{ event.partner_id }}</li>
            <li>
              <strong>Lien d'inscription</strong>:
              <a href="#">www.example.com</a>
            </li> -->
          </ul>
          <div>
            <a
              *ngIf="event.urlFacebook"
              [href]="event.urlFacebook"
              class="readmore stretched-link"
              ><span>Voir facebook</span></a
            >
          </div>
        </div>
        <div class="event-description">
          <!-- <h2>This is an example of portfolio detail</h2> -->
          <p>
            {{ event.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
