<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h3>Présentaion</h3>
    </div>

    <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

      <div class="col-lg-5">
        <div class="about-img">
          <img src="assets/img/about-1.jpg" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-lg-7">
        <h3 class="title pt-0 pt-lg-5">Association de Recherche Scientifique et Innovation en Informatique. </h3>

        <!-- Tabs -->
        <ul class="nav nav-pills mb-3">
          <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">Objectifs</a></li>
          <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">Statut</a></li>
          <li><a class="nav-link" data-bs-toggle="pill" href="#tab3">Engagement Associatif</a></li>
        </ul><!-- End Tabs -->

        <!-- Tab Content -->
        <div class="tab-content">

          <div class="tab-pane fade show active" id="tab1">
            <div class="row">
              <div class="col-6">
                <div class="d-flex align-items-center mt-4" data-aos="fade-up" data-aos-delay="300">
                  <i class="bi bi-check2"></i>
                  <h4>Contribuer à l’appui de la recherche scientifique dans le domaine de l’informatique et de l’innovation.</h4>
                </div>
    
                <div class="d-flex align-items-center mt-4" data-aos="fade-up" data-aos-delay="400">
                  <i class="bi bi-check2"></i>
                  <h4>Proposition, encadrement et suivi de projets innovants.</h4>
                </div>
    
                <div class="d-flex align-items-center mt-4" data-aos="fade-up" data-aos-delay="500">
                  <i class="bi bi-check2"></i>
                  <h4>Coopération et collaboration avec les partenaires socio-économiques à l’échelle nationale et internationale.</h4>
                </div>
              </div>
              <div class="col-6">
                <div class="d-flex align-items-center mt-4" data-aos="fade-up" data-aos-delay="600">
                  <i class="bi bi-check2"></i>
                  <h4>Rapprochement de la recherche scientifique et académique au monde de l’industrie.</h4>
                </div>
    
                <div class="d-flex align-items-center mt-4" data-aos="fade-up" data-aos-delay="700">
                  <i class="bi bi-check2"></i>
                  <h4>Aide à l’insertion des étudiants dans le milieu professionnel.</h4>
                </div>
    
                <div class="d-flex align-items-center mt-4" data-aos="fade-up" data-aos-delay="800">
                  <i class="bi bi-check2"></i>
                  <h4>Organisation de manifestations scientifiques à l’échelle nationale et internationale.</h4>
                </div>
              </div>

            </div>

          </div><!-- End Tab 1 Content -->

          <div class="tab-pane fade show" id="tab2">

            <div class="d-flex align-items-center mt-4">
              <p class="fst-italic">L'ARSII est une association scientifique et apolitique, fondée en mai 2016 par de jeunes enseignants-chercheurs en informatique en Tunisie. Elle est enregistrée comme association à but non lucratif.
                <!-- , avec un statut juridique distinct de celui de ses membres.   -->
                <br><br>Les statuts de l'association définissent son objectif principal, sa structure organisationnelle, les droits et devoirs de ses membres, ainsi que sa conformité aux lois et réglementations en vigueur en Tunisie pour les associations à but non lucratif.</p>
            </div>

          </div><!-- End Tab 2 Content -->

          <div class="tab-pane fade show" id="tab3">

            <div class="d-flex align-items-center mt-4">
                <p class="fst-italic">Pour atteindre ses objectifs, l'ARSII organise régulièrement des conférences, des séminaires, des ateliers et des formations, offrant ainsi une plateforme d'échange intellectuel et de développement professionnel pour les acteurs de l'informatique en Tunisie. 
                  <br><br>De plus, l'association encourage la participation active des étudiants et des jeunes chercheurs, contribuant ainsi à la croissance de la communauté informatique en Tunisie.</p>
            </div>
          </div><!-- End Tab 3 Content -->

        </div>

      </div>

    </div>

  </div>
</section>
