<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h3>Présentaion</h3>
      <p></p>
    </div>

    <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

      <div class="col-lg-5">
        <div class="about-img">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-lg-7">
        <h3 class="title pt-0 pt-lg-5">Association de Recherche Scientifique et Innovation en Informatique. </h3>
        <p class="fst-italic">une jeune association scientifique et apolitique, a été fondée en Mai 2016 par des jeunes enseignants chercheurs en Informatique.</p>

        <!-- Tabs -->
        <ul class="nav nav-pills mb-3">
          <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">Objectifs</a></li>
          <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">Voluptates</a></li>
          <li><a class="nav-link" data-bs-toggle="pill" href="#tab3">Corrupti</a></li>
        </ul><!-- End Tabs -->

        <!-- Tab Content -->
        <div class="tab-content">

          <div class="tab-pane fade show active" id="tab1">
            <div class="d-flex align-items-center mt-4">
              <i class="bi bi-check2"></i>
              <h4>Contribuer à l’appui de la recherche scientifique dans le domaine de l’informatique et de l’innovation.</h4>
            </div>
            <!-- <p>Laborum omnis voluptates voluptas qui sit aliquam blanditiis. Sapiente minima commodi dolorum non eveniet magni quaerat nemo et.</p> -->

            <div class="d-flex align-items-center mt-4">
              <i class="bi bi-check2"></i>
              <h4>Proposition, encadrement et suivi de projets innovants.</h4>
            </div>
            <!-- <p>Non quod totam minus repellendus autem sint velit. Rerum debitis facere soluta tenetur. Iure molestiae assumenda sunt qui inventore eligendi voluptates nisi at. Dolorem quo tempora. Quia et perferendis.</p> -->

            <div class="d-flex align-items-center mt-4">
              <i class="bi bi-check2"></i>
              <h4>Coopération et collaboration avec les partenaires socio-économiques à l’échelle nationale et internationale.</h4>
            </div>
            <!-- <p>Eius alias aut cupiditate. Dolor voluptates animi ut blanditiis quos nam. Magnam officia aut ut alias quo explicabo ullam esse. Sunt magnam et dolorem eaque magnam odit enim quaerat. Vero error error voluptatem eum.</p> -->
            <div class="d-flex align-items-center mt-4">
              <i class="bi bi-check2"></i>
              <h4>Rapprochement de la recherche scientifique et académique au monde de l’industrie.</h4>
            </div>
            <div class="d-flex align-items-center mt-4">
              <i class="bi bi-check2"></i>
              <h4>Aide à l’insertion des étudiants dans le milieu professionnel.</h4>
            </div>
            <div class="d-flex align-items-center mt-4">
              <i class="bi bi-check2"></i>
              <h4>Organisation de manifestations scientifiques à l’échelle nationale et internationale.</h4>
            </div>
          </div><!-- End Tab 1 Content -->

          <div class="tab-pane fade show" id="tab2">

            <p class="fst-italic">Consequuntur inventore voluptates consequatur aut vel et. Eos doloribus expedita. Sapiente atque consequatur minima nihil quae aspernatur quo suscipit voluptatem.</p>

            <div class="d-flex align-items-center mt-4">
              <i class="bi bi-check2"></i>
              <h4>Repudiandae rerum velit modi et officia quasi facilis</h4>
            </div>
            <p>Laborum omnis voluptates voluptas qui sit aliquam blanditiis. Sapiente minima commodi dolorum non eveniet magni quaerat nemo et.</p>

            <div class="d-flex align-items-center mt-4">
              <i class="bi bi-check2"></i>
              <h4>Incidunt non veritatis illum ea ut nisi</h4>
            </div>
            <p>Non quod totam minus repellendus autem sint velit. Rerum debitis facere soluta tenetur. Iure molestiae assumenda sunt qui inventore eligendi voluptates nisi at. Dolorem quo tempora. Quia et perferendis.</p>

            <div class="d-flex align-items-center mt-4">
              <i class="bi bi-check2"></i>
              <h4>Omnis ab quia nemo dignissimos rem eum quos..</h4>
            </div>
            <p>Eius alias aut cupiditate. Dolor voluptates animi ut blanditiis quos nam. Magnam officia aut ut alias quo explicabo ullam esse. Sunt magnam et dolorem eaque magnam odit enim quaerat. Vero error error voluptatem eum.</p>

          </div><!-- End Tab 2 Content -->

          <div class="tab-pane fade show" id="tab3">

            <p class="fst-italic">Consequuntur inventore voluptates consequatur aut vel et. Eos doloribus expedita. Sapiente atque consequatur minima nihil quae aspernatur quo suscipit voluptatem.</p>

            <div class="d-flex align-items-center mt-4">
              <i class="bi bi-check2"></i>
              <h4>Repudiandae rerum velit modi et officia quasi facilis</h4>
            </div>
            <p>Laborum omnis voluptates voluptas qui sit aliquam blanditiis. Sapiente minima commodi dolorum non eveniet magni quaerat nemo et.</p>

            <div class="d-flex align-items-center mt-4">
              <i class="bi bi-check2"></i>
              <h4>Incidunt non veritatis illum ea ut nisi</h4>
            </div>
            <p>Non quod totam minus repellendus autem sint velit. Rerum debitis facere soluta tenetur. Iure molestiae assumenda sunt qui inventore eligendi voluptates nisi at. Dolorem quo tempora. Quia et perferendis.</p>

            <div class="d-flex align-items-center mt-4">
              <i class="bi bi-check2"></i>
              <h4>Omnis ab quia nemo dignissimos rem eum quos..</h4>
            </div>
            <p>Eius alias aut cupiditate. Dolor voluptates animi ut blanditiis quos nam. Magnam officia aut ut alias quo explicabo ullam esse. Sunt magnam et dolorem eaque magnam odit enim quaerat. Vero error error voluptatem eum.</p>

          </div><!-- End Tab 3 Content -->

        </div>

      </div>

    </div>

  </div>
</section>
