<section id="event-details" class="event-details" *ngIf="formation">
  <div class="container">
    <div class="row gy-4">
      <div class="col">
        <div class="event-details-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide" *ngIf="formation">
              <img
                [src]="'/api/arsii/file/img/' + formation.image"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
    <div class="row gy-4">
      <div>
        <div class="event-info d-flex justify-content-center">
          <ul *ngIf="formation">
            <li>
              <strong>Date</strong>:
              {{ formation.date | date : "dd LLLL yyyy, HH:mm" }}
            </li>
            <li>
              <strong>Localisation: {{ formation.location }}</strong>
            </li>
            <!-- <li><strong>Partenaire</strong>: {{ formation.partner_id }}</li>
            <li>
              <strong>Lien d'inscription</strong>:
              <a href="#">www.example.com</a>
            </li> -->
          </ul>
          <div>
            <a
              *ngIf="formation.urlFacebook"
              [href]="formation.urlFacebook"
              class="readmore stretched-link"
              ><span>Voir facebook</span></a
            >
          </div>
        </div>
        <div class="event-description">
          <!-- <h2>This is an example of portfolio detail</h2> -->
          <p>
            {{ formation.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
