<section id="contact" class="contact">
  <div class="section-header">
    <h3>Contact</h3>
  </div>
  <div class="container position-relative" data-aos="fade-up">
    <div class="row gy-4">
      <div class="col-lg-6">
        <div class="row gy-4">
          <div class="col-md-6">
            <div
              class="info-item d-flex"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h4>Email de contact:</h4>
                <p>contact@arsii.org</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="info-item d-flex"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <i class="bi bi-phone flex-shrink-0"></i>
              <div>
                <h4>Téléphone:</h4>
                <p>(+216) 98 684 033<br />(+216) 31 516 919</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="info-item d-flex"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <i class="bi bi-printer flex-shrink-0"></i>
              <div>
                <h4>Fax:</h4>
                <p>(+216) 73 382 658</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="info-item d-flex"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h4>Adresse:</h4>
                <p>
                  Bureau 502 - Imm. Louzir, Avenue Palestine, Sahloul Sousse,
                  4054
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
        <form
          [formGroup]="contactForm"
          (ngSubmit)="onSubmit()"
          class="email-form"
        >
          <div class="row">
            <!-- <div class="col-md-6 form-group">
                  <input type="text" formControlName="name" class="form-control" id="name" placeholder="Nom & Prénom" required>
                </div> -->
            <div class="form-group mt-3">
              <input
                type="email"
                formControlName="from"
                class="form-control"
                id="from"
                placeholder="E-mail"
                required
              />
              <span class="help-block" *ngIf="!contactForm.get('from')?.valid && contactForm.get('from')?.touched">
                Veuillez entrer un email valide.
               </span>
            </div>
          </div>
          <div class="form-group mt-3">
            <input
              type="text"
              formControlName="subject"
              class="form-control"
              id="subject"
              placeholder="Sujet"
              required
            />
          </div>
          <div class="form-group mt-3">
            <textarea
              formControlName="content"
              class="form-control"
              id="content"
              rows="5"
              placeholder="Message"
              required
            ></textarea>
          </div>
          <div class="my-3">
            <re-captcha
              [siteKey]="recaptchaSiteKey"
              (resolved)="onRecaptchaResolved($event)"
              class="custom-recaptcha"
            ></re-captcha>
          </div>
          <div class="text-center">
            <button
              type="submit"
              [disabled]="!contactForm.valid || !isRecaptchaResolved"
            >
              Envoyer
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
