<section id="events" class="events">

    <!--  Section Title -->
    <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="section-header">
      <h3>Opportunités</h3>
    </div>
    </div><!-- End Section Title -->
  
    <div class="container">
  
      <p-carousel [value]="opportunities"  styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
        <ng-template let-opportunity pTemplate="item" >
  
            <div data-aos="slide-left" data-aos-delay="100">
              <article>
                <div class="post-img">
                  <img [src]="'/api/arsii/file/img/'+opportunity.image" alt="{{ opportunity.title }}" class="img-fluid">
                </div>
  
                <!-- <p class="post-category">{{ translateType(opportunity.type)}}</p> -->
                <div class="post-meta">
                  <p class="post-author"><i class="bi bi-buildings-fill"></i>{{ opportunity.company}}</p>

                  <p class="post-date">
                    <i class="bi bi-clock-fill"></i> {{ opportunity?.createdAt | date : "dd LLLL yyyy"}}
                  </p>

                </div>
  
                <h2 class="title">
                  <a (click)="show(opportunity.id)">{{ opportunity.title }}</a>
                </h2>
  
                <div class="d-flex align-items-center">
                  <!-- <img src="assets/img/blog/blog-author-3.jpg" alt="" class="img-fluid post-author-img flex-shrink-0"> -->
                </div>
                <a (click)="show(opportunity.id)" class="readmore stretched-link"><span>Voir Détails</span></a>
              </article>
            </div>
  
        </ng-template>
      </p-carousel>
    </div>
    <!-- <a routerLink="events-details" class="readmore stretched-link"><span>Voir Détails</span><i class="bi bi-arrow-right"></i></a> -->
  
  </section>
  
  
  