<app-breadcrumbs></app-breadcrumbs>
<section id="join-us" class="join-us">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h3>Adhésion</h3>
    </div>
    <!-- <div  class="section-p">
      <p>L’association ouvre l’inscription à toute personne intéressée par l’ingénierie, la recherche scientifique ou l’innovation technologique.</p>
    </div> -->
    <div class="row gy-4 form-container">
        <form [formGroup]="joinUsForm" (ngSubmit)="submitForm()" class="email-form">
          <h3>Adhésion {{ currentYear }}</h3>
          <p>L’association ouvre l’inscription à toute personne intéressée par l’ingénierie, la recherche scientifique ou l’innovation technologique.</p>
          <ol>
            <li>
              Remplir formulaire.
            </li>
            <li>
              Payer la cotisation annuelle: <strong>30 DT</strong>
            </li>
          </ol>
          <div class="row gy-4">
            <div class="form-group  col-md-4">
              <label for="region">Nom (*)</label>
              <input type="text" id="lastName" formControlName="lastName" class="form-control">
              <span class="help-block" *ngIf="!joinUsForm.get('lastName')?.valid&&joinUsForm.get('lastName')?.touched">
                {{requiredField}}
              </span>
            </div>
            <div class="form-group  col-md-4">
              <label for="region">Prénom (*)</label>
              <input type="text" id="firstName" formControlName="firstName" class="form-control">
              <span class="help-block" *ngIf="!joinUsForm.get('firstName')?.valid&&joinUsForm.get('firstName')?.touched">
                {{requiredField}}
               </span>
            </div>
            <div class="form-group  col-md-4">
              <label for="region">Téléphone (*)</label>
              <input type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control">
              <span class="help-block" *ngIf="!joinUsForm.get('phoneNumber')?.valid && joinUsForm.get('phoneNumber')?.touched">
                Veuillez entrer un numéro de téléphone valide 
               </span>
            </div>
            <div class="form-group col-md-4">
              <label for="region">Date de naissance</label>
              <input type="date" id="dateOfBirth" formControlName="dateOfBirth" class="form-control">
            </div>
            <div class="form-group  col-md-4">
              <label for="region">Email (*)</label>
              <input type="email" id="email" formControlName="email" class="form-control">
              <span class="help-block" *ngIf="!joinUsForm.get('email')?.valid && joinUsForm.get('email')?.touched">
                Veuillez entrer un email valide.
               </span>
            </div>
            <div class="form-group  col-md-4">
              <label for="region">Mot de passe (*)</label>
              <input type="password" id="password" formControlName="password" class="form-control" >
              <span class="help-block" *ngIf="!joinUsForm.get('password')?.valid && joinUsForm.get('password')?.touched">
                Le mot de passe doit contenir au moins 8 caractères
               </span>
            </div>
            <div class="form-group  col-md-4">
              <label for="region">Confirmer votre mot de passe</label>
              <input type="password" id="confirm_password" formControlName="confirm_password" class="form-control">
              <span class="help-block" *ngIf="joinUsForm.hasError('passwordMismatch')">
                Les mots de passe ne correspondent pas.
              </span>
            </div>
            <div class="form-group  col-md-4">
              <label for="region">Nom d'utilisateur (*)</label>
              <input type="text" id="userName" formControlName="userName" class="form-control">
              <span class="help-block" *ngIf="!joinUsForm.get('userName')?.valid&&joinUsForm.get('userName')?.touched">
                {{requiredField}}
              </span>
            </div>
            <div class="form-group col-md-4">
              <label for="region">Bureau ARSII</label>
              <select id="office" formControlName="office" class="form-control">
                <option value="">Sélectionnez un office</option>
                <option *ngFor="let office of officeArsii" [value]="office">{{ office }}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="region">Région (*)</label>
              <select id="region" formControlName="region" class="form-control">
                <option value="">Sélectionnez une région</option>
                <option *ngFor="let region of regionsTunisie" [value]="region">{{ region }}</option>
              </select>
              <span class="help-block" *ngIf="!joinUsForm.get('region')?.valid&&joinUsForm.get('region')?.touched">
                {{requiredField}}
              </span>
            </div>
            <div class="form-group  col-md-4">
              <label>Situation Professionnelle</label>
              <input id="job" formControlName="job" class="form-control">
            </div>
            <div class="form-group col-md-4">
              <label>Établissement</label>
              <input type="text" id="universityOrCompany" formControlName="universityOrCompany" class="form-control">
            </div>
            <div class="form-group col-md-4">
              <label>Genre</label>
              <div class="radio-group">
                <label>
                  <input type="radio" formControlName="gender" value="male"> Masculin
                </label>
                <label>
                  <input type="radio" formControlName="gender" value="female"> Féminin
                </label>
              </div>
              <!-- <div *ngIf="joinUsForm.get('gender')?.hasError('required')" class="text-danger">
                Le genre est obligatoire.
              </div> -->
            </div>
            <!-- <div *ngIf="joinUsForm.get('situationProfessionnelle')!.value === 'etudiant'" class="form-group  col-md-4">
              <input type="text" id="cycle" formControlName="cycle" class="form-control" placeholder="Cycle">
            </div>
          
            <div *ngIf="joinUsForm.get('situationProfessionnelle')!.value === 'etudiant'" class="form-group  col-md-4">
              <input type="text" id="niveau" formControlName="niveau" class="form-control" placeholder="Niveau">
            </div>
          
            <div *ngIf="joinUsForm.get('situationProfessionnelle')!.value === 'etudiant'" class="form-group  col-md-4">
              <input type="text" id="specialite" formControlName="specialite" class="form-control" placeholder="Spécialité">
            </div>
          
            <div *ngIf="joinUsForm.get('situationProfessionnelle')!.value === 'etudiant'" class="form-group  col-md-4">
              <input type="text" id="etablissement" formControlName="etablissement" class="form-control" placeholder="Établissement">
            </div>
          
            <div *ngIf="joinUsForm.get('situationProfessionnelle')!.value === 'salarie'" class="form-group  col-md-4">
              <input type="text" id="profession" formControlName="profession" class="form-control" placeholder="Profession">
            </div>
          
            <div *ngIf="joinUsForm.get('situationProfessionnelle')!.value === 'salarie'" class="form-group  col-md-4">
              <input type="text" id="etablissementSalarie" formControlName="etablissementSalarie" class="form-control" placeholder="Établissement">
            </div>
           -->
            <div class="col-md-12" text-center>
              <re-captcha [siteKey]="recaptchaSiteKey" (resolved)="onRecaptchaResolved($event)" class="custom-recaptcha"></re-captcha>
              <div *ngIf="successMessage" class="alert {{ successMessage.includes('succès') ? 'alert-success' : 'alert-danger' }}">
                {{ successMessage }}
              </div>
              <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
              </div>
              <button type="submit">Soumettre</button>
            </div>
          </div>
        </form>
    </div>
    <div class="row gy-4 infos-container">
      <div class="col-lg-6 infos" data-aos="fade-in" data-aos-delay="200">
        
        <h4>
          ADHÉRER ARSII POUR BENÉFICIER
        </h4>
        <div class="section-p">
            Réduction des frais de participation aux événements organisés par l’ARSII (Journées scientifiques, Formations, Compétitions, etc.).
          <br>
            Priorité d’accès aux événements gratuits.
          <br>
            Attestation de participation de tout événement assisté.
          <br>
            Accès prioritaire à toutes les opportunités publiées (Offres de Stage, PFE, bourses, etc.).
          <br>
            Possibilité de prise en charge dans des manifestations scientifiques.
          <br>
            Possibilité d’adhérer au bureau exécutif d’ARSII.
          <br>
        </div>
        
      </div>
        <!-- <h4>
          MODALITÉ DE PAYEMENT
        </h4>
        <div class="section-p">
          
            Par Virement au CCB RIB: TN 59 1750 3000 0002 2957 9702
          <br>
          
            Par chèque (libellé ARSII).
          <br>
          
            En espèces (contacter le comité d’adhésion)
          <br>
        </div> -->
      <div class="col-lg-4 infos" data-aos="fade-up" data-aos-delay="200">
        
        <h4>
          PLUS D’INFORMATIONS
        </h4>
        <div class="section-p">
          Bureau : <strong>+216 31 516 919</strong> <br>
          Email : <strong>contact@arsii.org | association.arsii@gmail.com</strong> <br>
          Dr. Ahmed MAALEL : <strong>+216 98 684 033</strong> <br>
          Dr. Fatma SBIAA : <strong>+216 96 392 329</strong> <br>
          Mme Wafa CHLAGOU : <strong>+216 97 934 466</strong> <br>
          Mlle Rahma MILI : <strong>+216 50 712 963</strong> <br>
        </div>
      
      </div>
    </div>
    
  </div>

</section>
<p-scrollTop></p-scrollTop>
