<section id="formations" class="formations">
  <!-- Section Title -->
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h3>Formations</h3>
    </div>
  </div>
  <!-- End Section Title -->

  <!-- Carousel -->
  <div class="container">
    <ngb-carousel >
      <ng-template ngbSlide>
        <div class="row gy-4">

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Politics</p>

              <h2 class="title">
                <a href="blog-details.html">Dolorum optio tempore voluptas dignissimos</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Maria Doe</p>

                    <p class="post-date">
                      <time datetime="2022-01-01"><i class="bi bi-clock-fill"></i> Jun 22, 2022</time>
                    </p>
                    <p class="post-address"><i class="bi bi-geo-alt-fill"></i> Sousse </p>

                </div>
              </div>
              <!-- <a routerLink="events-details" class="readmore stretched-link"><span>Voir Détails</span><i class="bi bi-arrow-right"></i></a> -->
            </article>
          </div>

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-2.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Sports</p>

              <h2 class="title">
                <a href="blog-details.html">Nisi magni odit consequatur autem nulla dolorem</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author-2.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Allisa Mayer</p>

                  <p class="post-date">
                    <time datetime="2022-01-01"><i class="bi bi-clock-fill"></i> Jun 22, 2022</time>
                  </p>
                  <p class="post-address"><i class="bi bi-geo-alt-fill"></i> Sousse Sousse Sousse</p>

                </div>
              </div>
              <!-- <a routerLink="events-details" class="readmore stretched-link"><span>Voir Détails</span><i class="bi bi-arrow-right"></i></a> -->
            </article>
          </div>

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-3.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Entertainment</p>

              <h2 class="title">
                <a href="blog-details.html">Possimus soluta ut id suscipit ea ut in quo quia et soluta</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author-3.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Mark Dower</p>

                    <p class="post-date">
                      <time datetime="2022-01-01"><i class="bi bi-clock-fill"></i> Jun 22, 2022</time>
                    </p>
                    <p class="post-address"><i class="bi bi-geo-alt-fill"></i> Sousse</p>

                </div>
              </div>
              <!-- <a routerLink="events-details" class="readmore stretched-link"><span>Voir Détails</span><i class="bi bi-arrow-right"></i></a> -->

            </article>
          </div>

        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="row gy-4">

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Politics</p>

              <h2 class="title">
                <a href="blog-details.html">Dolorum optio tempore voluptas dignissimos</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Maria Doe</p>

                    <p class="post-date">
                      <time datetime="2022-01-01"><i class="bi bi-clock-fill"></i> Jun 22, 2022</time>
                    </p>
                    <p class="post-address"><i class="bi bi-geo-alt-fill"></i> Sousse </p>

                </div>
              </div>
              <!-- <a routerLink="events-details" class="readmore stretched-link"><span>Voir Détails</span><i class="bi bi-arrow-right"></i></a> -->
            </article>
          </div>

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-2.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Sports</p>

              <h2 class="title">
                <a href="blog-details.html">Nisi magni odit consequatur autem nulla dolorem</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author-2.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Allisa Mayer</p>

                  <p class="post-date">
                    <time datetime="2022-01-01"><i class="bi bi-clock-fill"></i> Jun 22, 2022</time>
                  </p>
                  <p class="post-address"><i class="bi bi-geo-alt-fill"></i> Sousse Sousse Sousse</p>

                </div>
              </div>
              <!-- <a routerLink="events-details" class="readmore stretched-link"><span>Voir Détails</span><i class="bi bi-arrow-right"></i></a> -->
            </article>
          </div>

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-3.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Entertainment</p>

              <h2 class="title">
                <a href="blog-details.html">Possimus soluta ut id suscipit ea ut in quo quia et soluta</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author-3.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Mark Dower</p>

                    <p class="post-date">
                      <time datetime="2022-01-01"><i class="bi bi-clock-fill"></i> Jun 22, 2022</time>
                    </p>
                    <p class="post-address"><i class="bi bi-geo-alt-fill"></i> Sousse</p>

                </div>
              </div>
              <!-- <a routerLink="events-details" class="readmore stretched-link"><span>Voir Détails</span><i class="bi bi-arrow-right"></i></a> -->

            </article>
          </div>

        </div>
      </ng-template>
    </ngb-carousel>
    <!-- <ngb-carousel >
      <ng-template ngbSlide>
        <img src="assets/img/slide1.jpg" alt="Slide 1">
        <div class="row gy-4">

          <div *ngFor="let event of events" class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <article>

              <div class="post-img">
                <img [src]="event.urlImage" alt="" class="img-fluid">
              </div>

              <p class="post-category">{{ event.status}}</p>

              <h2 class="title">
                <a href="blog-details.html">Possimus soluta ut id suscipit ea ut in quo quia et soluta</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author-3.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">{{ event.former.firstName}} {{ event.former.lastName}}</p>

                  <p class="post-date">
                    <time datetime="2022-01-01"><i class="bi bi-clock-fill"></i> {{ event.date }}</time>
                  </p>
                  <p class="post-address"><i class="bi bi-geo-alt-fill"></i> {{ event.location }}</p>

                </div>
              </div>
              <a routerLink="events-details" class="readmore stretched-link"><span>Voir Détails</span><i class="bi bi-arrow-right"></i></a>

            </article>
          </div>
        </div>
      </ng-template>
    </ngb-carousel> -->
  </div>
  <!-- End Carousel -->
</section>

