<section id="events" class="events">
  <!-- Section Title -->
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h3>Formations</h3>
    </div>
  </div>
  <!-- End Section Title -->

  <!-- Carousel -->
  <div class="container">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="row gy-4">
          <div
            class="col-xl-4 col-md-6"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <article>
              <div class="post-img">
                <img
                  src="assets/img/formations/cyber-security.jpg"
                  alt=""
                  class="img-fluid"
                />
              </div>

              <p class="post-category">Sécurité</p>

              <h2 class="title">
                <a routerLink="/formation-details"
                  >ARSII 60mn 3rd edition : Cyber-security</a
                >
              </h2>

              <div class="d-flex align-items-center">
                <!-- <img
                  src="assets/img/blog/blog-author.jpg"
                  alt=""
                  class="img-fluid post-author-img flex-shrink-0"
                /> -->
                <div class="post-meta">
                  <p class="post-author">
                    <i class="bi bi-person-workspace"></i>Mr. Ayed Akrout
                  </p>

                  <p class="post-date">
                    <time datetime="2022-01-01"
                      ><i class="bi bi-clock-fill"></i> Jun 02, 2021, 15:00</time
                    >
                  </p>
                  <p class="post-address">
                    <i class="bi bi-geo-alt-fill"></i> Association ARSII - جمعية البحث العلمي والإبتكار في الإعلامية, Sousse, Tunisia
                  </p>
                </div>
              </div>
              <!-- <a routerLink="/events-details" class="readmore stretched-link"><span>Voir Détails</span><i class="bi bi-arrow-right"></i></a> -->
            </article>
          </div>

          <div
            class="col-xl-4 col-md-6"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <article>
              <div class="post-img">
                <img
                  src="assets/img/formations/form2.jpg"
                  alt=""
                  class="img-fluid"
                />
              </div>

              <p class="post-category">Wooclap & Kahoot</p>

              <h2 class="title">
                <a routerLink="/formation-details">Du numérique dans ma classe</a>
              </h2>

              <div class="d-flex align-items-center">
                <!-- <img
                  src="assets/img/blog/blog-author-2.jpg"
                  alt=""
                  class="img-fluid post-author-img flex-shrink-0"
                /> -->
                <div class="post-meta">
                  <p class="post-author">
                    <i class="bi bi-person-workspace"></i>M. Adel DAHMEN
                  </p>

                  <p class="post-date">
                    <time datetime="2022-01-01"
                      ><i class="bi bi-clock-fill"></i> Mai 21, 2021, 19:00</time
                    >
                  </p>
                  <p class="post-address">
                    <i class="bi bi-geo-alt-fill"></i> Association ARSII - جمعية البحث العلمي والإبتكار في الإعلامية, Sousse, Tunisia
                  </p>
                </div>
              </div>
              <!-- <a routerLink="/events-details" class="readmore stretched-link"><span>Voir Détails</span><i class="bi bi-arrow-right"></i></a> -->
            </article>
          </div>

          <div
            class="col-xl-4 col-md-6"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <article>
              <div class="post-img">
                <img
                  src="assets/img/blog/blog-3.jpg"
                  alt=""
                  class="img-fluid"
                />
              </div>

              <p class="post-category">Webinaire</p>

              <h2 class="title">
                <a routerLink="/formation-details">Webinaire : Montage de projets et Opportunités de financement dans Horizon Europe</a>
              </h2>

              <div class="d-flex align-items-center">
                <!-- <img
                  src="assets/img/blog/blog-author-3.jpg"
                  alt=""
                  class="img-fluid post-author-img flex-shrink-0"
                /> -->
                <div class="post-meta">
                  <p class="post-author">
                    <i class="bi bi-person-workspace"></i>Dr. Ahmed MAALEL
                  </p>

                  <p class="post-date">
                    <time datetime="2022-01-01"
                      ><i class="bi bi-clock-fill"></i> Avr 07, 2021</time
                    >
                  </p>
                  <p class="post-address">
                    <i class="bi bi-geo-alt-fill"></i> Association ARSII - جمعية البحث العلمي والإبتكار في الإعلامية, Sousse, Tunisia
                  </p>
                </div>
              </div>
              <!-- <a routerLink="events-details" class="readmore stretched-link"><span>Voir Détails</span><i class="bi bi-arrow-right"></i></a> -->
            </article>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="row gy-4">
          <div
            class="col-xl-4 col-md-6"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <article>
              <div class="post-img">
                <img
                  src="assets/img/formations/formateur.jpg"
                  alt=""
                  class="img-fluid"
                />
              </div>

              <p class="post-category">IoT</p>

              <h2 class="title">
                <a href="blog-details.html"
                  >Formation des formateurs</a
                >
              </h2>

              <div class="d-flex align-items-center">
                <!-- <img
                  src="assets/img/blog/blog-author.jpg"
                  alt=""
                  class="img-fluid post-author-img flex-shrink-0"
                /> -->
                <div class="post-meta">
                  <p class="post-author">
                    <i class="bi bi-person-workspace"></i>M. Adel DAHMEN
                  </p>

                  <p class="post-date">
                    <time datetime="2022-01-01"
                      ><i class="bi bi-clock-fill"></i> Avr 02, 2021</time
                    >
                  </p>
                  <p class="post-address">
                    <i class="bi bi-geo-alt-fill"></i> ARSII SFAX
                  </p>
                </div>
              </div>
              <!-- <a routerLink="events-details" class="readmore stretched-link"><span>Voir Détails</span><i class="bi bi-arrow-right"></i></a> -->
            </article>
          </div>

          <div
            class="col-xl-4 col-md-6"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <article>
              <div class="post-img">
                <img
                  src="assets/img/formations/ml-dl.png"
                  alt=""
                  class="img-fluid"
                />
              </div>

              <p class="post-category">Machine Learning</p>

              <h2 class="title">
                <a href="blog-details.html"
                  >Formation ML&DL with python</a
                >
              </h2>

              <div class="d-flex align-items-center">
                <!-- <img
                  src="assets/img/blog/blog-author-2.jpg"
                  alt=""
                  class="img-fluid post-author-img flex-shrink-0"
                /> -->
                <div class="post-meta">
                  <p class="post-author">
                    <i class="bi bi-person-workspace"></i>Dr Ahmed Maalel, Dr Ahmed Ghazi Blaiech & Dr Fatma Sbiaa
                  </p>

                  <p class="post-date">
                    <time datetime="2022-01-01"
                      ><i class="bi bi-clock-fill"></i> Mar 21, 2021</time
                    >
                  </p>
                  <p class="post-address">
                    <i class="bi bi-geo-alt-fill"></i>Association ARSII - جمعية البحث العلمي والإبتكار في الإعلامية, Sousse, Tunisie
                  </p>
                </div>
              </div>
              <!-- <a routerLink="events-details" class="readmore stretched-link"><span>Voir Détails</span><i class="bi bi-arrow-right"></i></a> -->
            </article>
          </div>

          <div
            class="col-xl-4 col-md-6"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <article>
              <div class="post-img">
                <img
                  src="assets/img/formations/meeting.png"
                  alt=""
                  class="img-fluid"
                />
              </div>

              <p class="post-category">Entertainment</p>

              <h2 class="title">
                <a href="blog-details.html"
                  >ARSII'S FAMILY MEETING</a
                >
              </h2>

              <div class="d-flex align-items-center">
                <!-- <img
                  src="assets/img/blog/blog-author-3.jpg"
                  alt=""
                  class="img-fluid post-author-img flex-shrink-0"
                /> -->
                <div class="post-meta">
                  <p class="post-author">
                    <i class="bi bi-person-workspace"></i>BUREX ARSII
                  </p>

                  <p class="post-date">
                    <time datetime="2022-01-01"
                      ><i class="bi bi-clock-fill"></i> MAr 19, 2021</time
                    >
                  </p>
                  <p class="post-address">
                    <i class="bi bi-geo-alt-fill"></i> Association ARSII - جمعية البحث العلمي والإبتكار في الإعلامية, Sousse, Tunisia
                  </p>
                </div>
              </div>
              <!-- <a routerLink="events-details" class="readmore stretched-link"><span>Voir Détails</span><i class="bi bi-arrow-right"></i></a> -->
            </article>
          </div>
        </div>
      </ng-template>
      <button type="button" class="carousel-control-prev"><span aria-hidden="true" class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></button>
      <button type="button" class="carousel-control-next"><span aria-hidden="true" class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></button>
    </ngb-carousel>
    <!-- <p-carousel [value]="formations" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="2000" [responsiveOptions]="responsiveOptions">
      <ng-template let-formation pTemplate="item">

          <div data-aos="none" data-aos-delay="100">
            <article>

              <div class="post-img">
                <img [src]="formation.urlImage" alt="" class="img-fluid">
              </div>

              <p class="post-category">{{ formation.typeEvent}}</p>

              <h2 class="title">
                <a href="blog-details.html">{{ formation.title }}</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author-3.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">{{ formation.former.firstName}} {{ formation.former.lastName}}</p>

                  <p class="post-date">
                    <time datetime="2022-01-01"><i class="bi bi-clock-fill"></i> {{ formation.date }}</time>
                  </p>
                  <p class="post-address"><i class="bi bi-geo-alt-fill"></i> {{ formation.location }}</p>

                </div>
              </div>
            </article>
          </div>

      </ng-template>
    </p-carousel> -->
  </div>
</section>

